[submodule "Ribbon-Creator"]
	path = tools/Ribbon-Creator
	url = https://github.com/RemiCuxac/Ribbon-Creator
[submodule "Export-Import-Skinning"]
	path = tools/Export-Import-Skinning
	url = https://github.com/RemiCuxac/Export-Import-Skinning
[submodule "Weight-Transfer"]
	path = tools/Weight-Transfer
	url = https://github.com/RemiCuxac/Weight-Transfer

